<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div class="container">

    <div class="row" style="margin-top:20px">
    	<div>
    		You're at Homepage.
    	</div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </div>
    </div>

</div>
</body>
</html>